[2017-05-26 21:46] mitchkeller opened #9 "Fix invalid PreTeXt code"
We need to make sure that all the files are valid PTX so that we can compile the whole book before we start matching up the compiled version with Bogart's final PDF.

[2017-05-26 21:47] mitchkeller opened #10 "Invalid PTX in Chapter 1"
Fix invalid PTX in Chapter 1 to make progress on #9.

[2017-05-26 21:47] mitchkeller opened #11 "Invalid PTX in Chapter 2"
Make progress on #9.

[2017-05-26 21:48] mitchkeller opened #12 "Invalid PTX in Chapter 3"
Make progress on #9.

[2017-05-26 21:48] mitchkeller opened #13 "Invalid PTX in Chapter 4"
Make progress on #9

[2017-05-26 21:48] mitchkeller opened #14 "Invalid PTX in Chapter 5"
Make progress on #9 .

[2017-05-26 21:49] mitchkeller opened #15 "Invalid PTX in Chapter 6"
Make progress on #9

[2017-05-26 21:50] mitchkeller opened #16 "Invalid PTX in Appendix 1"
Make progress on #9

[2017-05-26 21:50] mitchkeller opened #17 "Invalid PTX in Appendix 2"
Make progress on #9.

[2017-05-26 21:50] mitchkeller opened #18 "Invalid PTX in Appendix 3"
Make progress on #9

[2017-05-26 22:38] kentemorrison commented on #10
I'm working on 1.2.

[2017-05-27 00:35] kentemorrison opened #20 "Hints are not showing with label "Hint""
In the latex there is no "Hint" label being produced. See, for example, lines 11-14 in the source s1-3-apps.mbx, which is Activity 11.

[2017-05-27 14:51] mitchkeller commented on #20
Hmmm. It's working properly for me. Can you try `git pull upstream update-bogart` to make sure that you've got the latest of everything and if it's still not working, please paste your `xsltproc` command into a comment on the bug report in case something is different there.

I'm attaching the PDF I get from `xsltproc` followed by `pdflatex`. If it's still not working for you, please attach your in

[2017-05-27 16:02] kentemorrison commented on #20
Problem solved. I didn't have latest matchbook xsl. I had a version with tasks but not hints.

[2017-05-27 16:02] #20 closed, assigned to nobody

[2017-05-27 19:41] mitchkeller commented on #12
Working on this.

[2017-05-27 19:53] mitchkeller commented on #13
Working on this.

[2017-05-28 13:30] #12 closed, assigned to mitchkeller

[2017-05-29 15:16] oscarlevin commented on #11
I'm working on this today.

[2017-06-01 14:02] kentemorrison commented on #10
I've finished fixing the invalid PTX in 1.2.

[2017-06-01 14:54] #11 closed, assigned to oscarlevin

[2017-06-01 14:54] #14 closed, assigned to oscarlevin

[2017-06-01 14:54] #15 closed, assigned to oscarlevin

[2017-06-01 15:41] kentemorrison commented on #10
Chapter 1 compiles; PTX is valid. I'm closing this issue.

[2017-06-01 15:41] #10 closed, assigned to nobody

[2017-06-01 15:42] kentemorrison commented on #16
Started on appendix 1.

[2017-06-02 16:05] mitchkeller commented on #16
We're still missing A.1.3 (digraphs of functions), correct @kentemorrison? Wondering if maybe we should close this issue and make a new one for that job.

[2017-06-02 16:06] #17 closed, assigned to oscarlevin

[2017-06-02 16:06] #18 closed, assigned to oscarlevin

[2017-06-02 16:24] oscarlevin opened #26 "Hints are missing from PTX"
We need to manually add hints to activities/tasks.

[2017-06-02 16:29] oscarlevin opened #28 "Lots of unresolved xrefs"
When I compile, there are still lots of unresolved xrefs.

[2017-06-02 16:30] #13 closed, assigned to mitchkeller

[2017-06-02 16:37] oscarlevin commented on #16
It looks like that is in the ptx now.  In any event, everything compiles, so I'm closing this, which closes #9

[2017-06-02 16:37] #16 closed, assigned to nobody

[2017-06-02 16:38] oscarlevin commented on #9
Except for the xrefs, this is done.  I started a new issue for xrefs.

[2017-06-02 16:38] #9 closed, assigned to nobody

[2017-06-02 16:46] mitchkeller opened #29 "Missing images"
Need to finish adding paths for images. Add comments here for images that are missing completely, and they can be created.

[2017-06-02 18:29] mitchkeller commented on #29
The solution to problem 23 (in 1.2) seems to be the only image we definitely know is missing. More may be identified when making the PTX version match the PDF.

@oscarlevin Can you do a Tikz version of that image without too much extra effort? I'm having issues with Inkscape at the moment.

[2017-06-02 18:36] mitchkeller opened #31 "Fix bad LaTeX"
This is hopefully something that @davidfarmer can help us with. Off the top of my head, the things I know that need to be fixed are:

\choose needs to be replaced with \binom{}{}
\over needs to be replaced with \frac{}{}
`mrow` now typically has `& = &` where it should just have `& =`

[2017-06-02 18:44] davidfarmer commented on #31
I can look at those three things.

How soon do you need this?

For the & = &, do you have a logical reason for converting to
  & =
instead of
  = &
?

On Fri, 2 Jun 2017, Mitchel T. Keller wrote:

[2017-06-02 19:12] oscarlevin commented on #31
If @davidfarmer doesn't mind, I'd like to try my hand at this first.  I've been looking for an excuse to learn how to do this.

[2017-06-02 19:14] oscarlevin commented on #29
I'll try to create the image soon.

[2017-06-02 19:28] mitchkeller commented on #31
I don't see this as urgent, I was more making the issue so that we remember to do it. I say go for it, @oscarlevin, and then perhaps @davidfarmer can help out if you run into a problem.

In terms of &= vs. =&, I guess I've always used &=. If there's a reason that =& is better, I have no objection.

[2017-06-02 20:46] davidfarmer commented on #31
Okay with me!

Note that I am going to do this eventually anyway.  One of the
steps in my usual conversion is "fix_archaic_tex".  I am a bit
surprised that I had not encountered \over and \choose previously.
(Or at least I hadn't noticed that I needed to fix those.)

Let me know when you do it (but not how) and then I'll do it and
we can compare approaches.

On Fri, 2 Jun 2017, Oscar Levin wrote:

[2017-06-02 23:23] kentemorrison opened #33 "A.1.3 is lacking PTX source"
There are about four pages in the PDF along with four images that need to be input and created.

[2017-06-02 23:41] kentemorrison commented on #26
Do you mean the hints from combhints/pdfhintfiles?  I added those to the activities in 1.2. That's about 70 of the 225 total.

[2017-06-02 23:45] kentemorrison commented on #16
I see you closed it. I opened a new issue for A.1.3.

Kent

On Jun 2, 2017, at 9:05 AM, Mitchel T. Keller <notifications@github.com> wrote:

[2017-06-03 22:53] oscarlevin commented on #31
Okay, I've done it.  If anything, this was a good lesson in "just let David do it".  :)

[2017-06-04 01:05] oscarlevin commented on #26
Yes.  I saw that you added some but didn't realize how many you have done already.   This can remind us we have more to do.

[2017-06-04 20:30] #31 closed, assigned to nobody

[2017-06-04 20:31] #29 closed, assigned to oscarlevin

[2017-07-18 19:46] oscarlevin opened #37 "Hints needed in chapter 1"
Make progress on #26 by adding the rest of the hints in chapter 1

[2017-07-18 19:47] oscarlevin commented on #26
I'm going to break this up into chapters to assign (sign up) for them as I go.

[2017-07-18 19:47] oscarlevin opened #38 "Hints needed in Chapter 2"
Add hints for chapter 2, to make progress on #26

[2017-07-18 19:48] oscarlevin opened #39 "Hints needed in Chapter 3"
Add hints to ptx source in chapter 3, making progress on #26

[2017-07-18 19:49] oscarlevin opened #40 "Hints needed in Chapter 4"
Add hints from text files to ptx source (#26)

[2017-07-18 19:50] oscarlevin opened #41 "Hints needed in chapter 5"
Add more hints.  #26

[2017-07-18 19:50] oscarlevin opened #42 "Hints needed in chapter 6"
Make progress on #26

[2017-07-18 19:50] oscarlevin opened #43 "Hints needed in appendices"
Make finish off #26

[2017-07-18 22:49] kentemorrison commented on #38
Beginning to work on this.

[2017-07-27 18:51] #37 closed, assigned to oscarlevin

[2017-07-28 19:49] #39 closed, assigned to oscarlevin

[2017-07-28 19:50] mitchkeller commented on #40
I'm going to get the ball rolling on this

[2017-07-28 22:13] oscarlevin commented on #41
I'm working on this.

[2017-07-31 15:10] #41 closed, assigned to oscarlevin

[2017-07-31 16:58] #40 closed, assigned to nobody

[2017-08-07 13:54] mitchkeller commented on #38
How's this going, Kent? Can either of us grab a section here to help move it along?

[2017-08-07 17:44] kentemorrison commented on #38
I'm still in section 2.1, which I will finish asap today.  Up to Activity 76 now. I had to add Activity 75 since the source files do not have that one. There's a hint for it but no solution. I will leave solution for later.

[2017-08-07 18:55] oscarlevin commented on #42
I'll do this one today.

[2017-08-08 01:46] oscarlevin opened #50 "6.2 has wrong PTX source"
Apparently Bogart did an extensive rewrite of section 6.2.  There is at least one image missing and lots of differences in the problems and exposition.

[2017-08-08 14:54] #42 closed, assigned to oscarlevin

[2017-08-08 15:34] mitchkeller opened #51 "project with task needs introduction"
Wrap introductory p (or p's) in a project that contains one or more task in introduction.

[2017-08-08 15:34] mitchkeller commented on #51
Working on this today.

[2017-08-08 17:38] oscarlevin commented on #43
I'm working on this today.

[2017-08-08 17:39] oscarlevin commented on #51
I can do any that I find the the appendices as I add the hints today.

[2017-08-08 17:53] mitchkeller commented on #50
OK, I'll bite the the bullet on this one.

Note to self: make sure to check the hints before you close this!

[2017-08-08 19:08] kentemorrison commented on #38
Will finish adding hints in chapter 2 this afternoon. (Aug. 8)

[2017-08-08 21:38] oscarlevin opened #56 "Appendix C.4 needs updated ptx source"
The middle of this section is quite different now and the ptx needs to be rewritten.

[2017-08-08 22:08] #43 closed, assigned to oscarlevin

[2017-08-09 00:36] mitchkeller opened #57 "6.1 needs another more careful look (notation)"
Bogart changed his dihedral group notation from using a slash in the subscript to using a pipe before the final version. Hopefully we can find a smart way to clean this up.

[2017-08-09 15:04] #38 closed, assigned to nobody

[2017-08-09 15:05] oscarlevin commented on #26
I believe we are done with this now, except for the odd hint missing from those sections that are missing all together.

[2017-08-09 15:05] #26 closed, assigned to nobody

[2017-08-09 15:16] oscarlevin commented on #57
I'm on it.

[2017-08-09 17:11] oscarlevin commented on #28
The pull request #59 fixes most of these, but some are due to discrepancies between the ptx and official pdf.

[2017-08-09 17:12] oscarlevin commented on #50
@mitchkeller in pull request #59, I fixed the dihedral group notation in 6.2 already.  Hopefully it doesn't conflict with the work you are doing here.

Also, I noted at least one of the images has the old notation in it :(

[2017-08-09 17:21] oscarlevin commented on #33
I'll work on this today.

[2017-08-09 17:27] mitchkeller commented on #28
When I've been editing, if it looks like a lot of work to track down the correct xml:id for something, I've been putting provisional="259" if the official PDF refers to Problem 259, and then we can go clean up the provisionals later on. Not necessarily suggesting that for others, but more noting it in case anyone else sees my provisionals and wonders what I'm up to.

[2017-08-09 17:35] mitchkeller commented on #57
Closed by #59

[2017-08-09 17:35] #57 closed, assigned to nobody

[2017-08-09 17:38] mitchkeller commented on #50
Minor merge conflict when rebasing, but only took me an extra minute or two.

I think that image many not have survived to the official PDF, but if it did, I've gotten really good at doing those things in TikZ already.

[2017-08-09 19:04] mitchkeller opened #61 "Problem numbering discrepancies"
We're now to the point where I think we can go chapter by chapter and make sure that the problem numbers align. For instance, I noticed when finishing the major work on 6.2 that 6.1 now starts three problems ahead of the official PDF (in terms of counter: 251 vs 248) and ends two problem numbers ahead. Comment here with which chapters you've checked for alignment, and we'll close this once we know

[2017-08-09 19:04] mitchkeller commented on #61
I'll check over chapter 6.

[2017-08-09 19:34] mitchkeller opened #63 "Twenty-fold way table needs fixing"
The twenty-fold way table that appears and is updated a number of times has some glitches from sl2x and needs to be made uniform wherever it appears.

[2017-08-09 20:33] #50 closed, assigned to mitchkeller

[2017-08-09 20:42] oscarlevin commented on #61
Problems 113 and 114 in the pdf are different than problem 113 in ptx.  This makes subsequent problems through chapter 2 off by 1.

[2017-08-09 22:09] kentemorrison commented on #61
I thought I had fixed the problems in the 109 to 120 range of chapter 2. I will fix them.

[2017-08-10 00:09] mitchkeller commented on #61
I did some looking at Chapter 5, and there seem to be a number of problem spots in there. I will look at that tomorrow morning.

[2017-08-10 00:13] mitchkeller opened #64 "Supplementary problems"
A lot of validation errors right now are the result of the structure of the supplementary problems. They need to be converted to exercises in order to support having solutions. I did Chapter 4 when I was working on it earlier in the summer. I'll do Chapter 5 when working on the rest of its issues tomorrow, since Chapter 5's supplementary problems are wrapped in activity instead of ol/li. The other

[2017-08-10 05:00] kentemorrison commented on #61
The problems in chapter 2 are okay now, except for the supplemental problems, which still need work.

[2017-08-10 13:28] kentemorrison commented on #64
I'm working on the supplementary problems in chapter 2. I don't think there is a file for the butane molecule (Figure 2.8) in problem 3.

[2017-08-10 13:39] mitchkeller opened #67 "6.3 needs updated PTX source"
Some major deviations from the official PDF here, as noted in #66.

[2017-08-10 13:40] mitchkeller commented on #64
@kentemorrison There's another missing molecule diagram in Chapter 6. I'm going to make a new issue for missing figures so that we can start collecting them there.

[2017-08-10 13:42] mitchkeller opened #68 "Missing figures"
Figure 2.8 (Noted in #64 by @kentemorrison)
Figure 6.8 in section 6.3.

[2017-08-10 17:26] mitchkeller commented on #64
Chapter 5 is already in a PR #66, and I've just done Chapter 3. Will work on Chapter 1 and then Chapter 6. Leaving Chapter 2 alone, since @kentemorrison is working on it.

[2017-08-10 18:47] #67 closed, assigned to mitchkeller

[2017-08-10 19:10] oscarlevin opened #71 "Missing merged pull request"
I was going to add a few tikz images to appendix A.1.3 and thought I would base what I do on the digraphs I added back in #35.  However, for some reason, this pull request seems to have been undone (or overwritten, or something).  This pull request also fixed all of the `{n \choose k}` and `{1 \over 2}` problems we had.

Do either of you know how to get these commits back without messing everythin

[2017-08-10 19:27] oscarlevin commented on #71
It looks like the work in Section 1.2 was undone in commit 1eb0fc4545b2cd3e3379709c229b183b3b646fee, merged in #36

[2017-08-10 19:28] mitchkeller commented on #71
It looks like the *only* file that got mucked up along the way is s1-2-basics.mbx, since that's the only file that I find \over or \choose in. I think you can checkout the commit hash for where you added in the  stuff you want and then use that to get back the bits and bobs needed. It seems that "Work on 1-2" is where things went awry for that file, if you look at the [history for it](https://gith

[2017-08-10 19:36] oscarlevin commented on #71
In that case, I will copy over the three images by hand and do a find/replace on the \choose/\over bits.

[2017-08-10 19:46] mitchkeller commented on #71
That seems like a reasonable approach. Looks like a failure to rebase before the PR that did the reversion combined with the very precise differences making it look like those changes were intentional caused this to be missed when it happened. At least (a) we've got the file to go back to and (b) it's just that file.

[2017-08-10 20:13] #71 closed, assigned to nobody

[2017-08-10 20:51] kentemorrison opened #74 "initialdigraph2 and initialdigraph3"
This is not urgent, just annoying. When I process the tex file the image files initialdigraph2 and initialdigraph3 cannot be found:

! LaTeX Error: File `images/initialdigraph2' not found.

I think it is because the Mac OS does not trust the content creator of these files and will not open them, although I am not sure. The creator is listed as cairo 1.15.2 (http://cairographics.org). The similar i

[2017-08-10 20:55] oscarlevin commented on #74
That's strange.  I made those images in inkscape the other day since I could do so easily from initialdigraph.svg.  I'll try to convert both to tikz soon here.

[2017-08-10 20:58] mitchkeller commented on #74
That's weird. I'm not running into the same problem here, but I may have different security settings than @kentemorrison does on his Mac.

[2017-08-10 21:00] mitchkeller commented on #28
I'm going to dive in and fix all of these that are *not* in appendices. (I'm mainly just confused about what the status of the appendices is, so don't want to go mucking about with them at the moment.)

Step 1 will be to clean up the unresolved and duplicate situations. Then'll clean up my naughty provisional behavior.

[2017-08-10 21:07] kentemorrison commented on #74
Oscar,

Don't convert them yet. Let me experiment some more. I just successfully got initialdigraph2 to display in another LaTeX document.

[2017-08-10 21:23] oscarlevin commented on #74
Okay, I'll hold for now.

[2017-08-10 21:28] oscarlevin commented on #63
I'll do this next.

[2017-08-10 21:58] #33 closed, assigned to oscarlevin

[2017-08-10 22:42] #63 closed, assigned to nobody

[2017-08-10 23:41] mitchkeller commented on #61
Looks like all that remains here is the appendices.

[2017-08-10 23:42] mitchkeller commented on #64
Appendix C is the only appendix with supplementary problems.

[2017-08-10 23:43] mitchkeller opened #79 "Fix validation errors"
We'll have to live with jing objecting to the category attribute being used everywhere, but we should get the rest of the issues cleaned up so that we can ensure all the content in the PTX files is actually showing up somewhere in the output.

[2017-08-11 01:50] #28 closed, assigned to nobody

[2017-08-11 15:35] mitchkeller opened #81 "Review solutions to Chapter 5 supplementary problems"
Bogart revised away from the "properties" approach to inclusion-exclusion, so there's some minor phrasing differences between the PTX and official PDF here.

[2017-08-11 15:35] mitchkeller commented on #81
Will work on this once I get back from the gym and lunch.

[2017-08-11 17:39] #51 closed, assigned to nobody

[2017-08-11 17:39] #64 closed, assigned to nobody

[2017-08-11 18:51] kentemorrison commented on #74
Problem solved. I'm embarrassed to confess this, but I had forgotten that I made copy of images files for my output folder. Somehow I didn't copy initialdigraph2 and 3.

[2017-08-11 18:51] #74 closed, assigned to oscarlevin

[2017-08-11 21:11] #81 closed, assigned to mitchkeller

[2017-08-11 21:12] oscarlevin commented on #56
I'll take care of this today.

[2017-08-11 21:22] kentemorrison commented on #61
Problem numbers match in Appendices A and B. Something is off in C. I will look at it now.

[2017-08-11 21:23] oscarlevin commented on #61
@kentemorrison, I'm rewriting appendix C, and I'm already fixing them.

[2017-08-11 22:29] kentemorrison commented on #61
@oscarlevin: I made a minor change in C-2 but I won't do any more in C. There's a lot to rewrite in the later sections of C with the introduction of combinatorial species. (I don't think I've ever seen them used in an undergrad text before.)

[2017-08-11 23:12] oscarlevin commented on #61
Yes, I'm in the weeds on that right now.  It might need to wait until tomorrow.  I don't think your minor C-2 changes will mess anything up though, and I saw you caught something I missed.

[2017-08-11 23:14] mitchkeller commented on #61
A good rebase should keep things nice and tidy, too. Or at least allow for a clean PR in case there are issues. Thanks for taking on the last widely divergent passage. I had enough fun with what I had to slog through in Chapters 5 and 6.

[2017-08-12 18:56] oscarlevin opened #87 "Index could use some love"
The index does not match the pdf.  This is probably a low-level request, as our index is pretty good already, but it might be worth checking for any obvious errors.

[2017-08-12 19:00] oscarlevin opened #88 "Add pretty formatting for pdf version"
A few things can be done to improve the look of the book.

1. We can change the font, headings, margins, etc.
2. We can format the problem environment to make it stand out from the text a bit (right now, with hints and solutions mixed in, it is hard to see where one thing stops and the next starts).
3. Where should hints and solutions go?  If we want to put one or both in the backmatter, we can au

[2017-08-12 19:00] oscarlevin opened #89 "Do something with problem types"
What should we do about the problem types (essential, interesting, obscure, purple-colored, etc)?

[2017-08-12 19:08] oscarlevin opened #90 "Update front-matter"
We should probably have a new preface briefly describing the conversion we did.  Then retitle the current preface something like "Preface to original edition".

We will also need a cover, copyright page, etc.  I'm thinking of treating this as if we are a new publisher who has obtained the copyright to an old book, spruces up the layout and releases it.  I should look at some dover books to see wha

[2017-08-13 16:53] mitchkeller commented on #87
We should definitely aim to have our index be a superset of the original. I know I added a few idx tags along the way where I was surprised there weren't any, but I'm sure we also missed some things, especially in the passages where the official PDF and the source were so divergent.

[2017-08-13 16:57] mitchkeller commented on #88
1. I'm good with pretty much whatever here.
1. It would at least be nice to have an "end of solution" mark like the official PDF does.
1. For HTML, I think it would be best to have hints in knowls with the problems and solutions in backmatter. (I know this issues is about PDF, but I wanted to put that thought somewhere.) For PDF, I think backmatter for both is a good idea. One backmatter item for

[2017-08-13 17:07] mitchkeller commented on #89
Rob has agreed that this is a feature that he'd like to add to PTX at some point (especially for exercises, so maybe getting it on his radar when he's gearing up to redo that code would be good…then he can migrate some of it other places). But I do agree that we should do something to get them into the version we're making available for the time being.

How hard would it be to hack the code that o

[2017-08-13 17:15] mitchkeller commented on #90
Definitely yes to the preface bits. We will have to decide what to do with the part of the original preface that refers to the problem decorations. I'm thinking just edit to make sense in light of how we're displaying that information and fess up to it in our preface, but I'm open to other things.

In terms of copyright, we will have to think a little bit about how to phrase that. The bulk of the

[2017-08-13 20:01] #56 closed, assigned to oscarlevin

[2017-08-13 20:03] oscarlevin commented on #89
Let me play around with this today.  Once I figure out how the xslt works, I should be able to do this for both the html and pdf.

[2017-08-13 20:25] kentemorrison commented on #61
I have checked all chapters and appendices, including supplemental problems. The problem numbers agree with the pdf. I trust that we all checked the wording of the problems in each section that we worked on, and so I'm closing this issue.

[2017-08-13 20:25] #61 closed, assigned to nobody

[2017-08-13 20:26] kentemorrison opened #91 "What is most urgent?"
There are still open issues. What is most important to do next?

[2017-08-13 20:31] mitchkeller commented on #91
I think we can close #68, since I think we've been over things pretty carefully now and would know if there were remaining images missing.

I tend to be the schema master (and know what Rob has promised will be changed in the schema), so will stay on #79. (Basically, there's not much to do there at the moment, although I do need to do another run since Appendix C has been finished.)

I'd say that

[2017-08-13 20:32] mitchkeller commented on #68
Does anyone think we need to do one more pass over the PDF visually to look for missing images, or should we call it good at this point?

We also do need someone to run the mbx script and make SVGs from the Tikz and Chemfig images.

[2017-08-13 21:56] davidfarmer opened #92 "Hint to problem 80"
"Problem 6" is hard coded in hint to Problem 80
(so Problem 6 is not a knowl in that hint knowl)

Probably you can grep to find more examples.

[2017-08-14 00:44] kentemorrison commented on #91
I started on #87 (the index).

[2017-08-15 05:12] oscarlevin commented on #89
I think my two recent pull requests have successfully mimicked the markings from Bogart's original pdf.  Perhaps that is where we should leave it for now, as we are trying to make essentially a faithful copy.

It would be very easy to update the symbols used or mark things in a different way now though, so if you would like to try the alternative code, I'm happy to see what that looks like.  It wo

[2017-08-15 05:16] oscarlevin commented on #88
Come to think of it, do we want to have solutions anywhere at all?  I mean for the student version.  It would be nice to have an instructor edition with full solutions, but maybe they are put in the main text (along with the hints).

[2017-08-15 13:14] mitchkeller commented on #88
I would be very happy to have the HTML version and the very public PDF have no solutions. (Hints knowled in HTML and in backmatter in PDF.) We can make a PDF with hints and solutions inline for email distribution to instructors.

Yes, the solutions are all in the GitHub repo, but going in there to find and read them requires a fair bit of industriousness on the part of students, and so not having

[2017-08-15 22:14] kentemorrison commented on #91
I've finished A-D in the index. But I haven't pushed to the repo.

[2017-08-15 22:18] kentemorrison opened #95 "latex-preamble-styles"
Is this a new file? When I use it to process index.tex I get a lot of errors. If I don't use it, then I get an error saying that it is missing.

[2017-08-15 22:21] oscarlevin commented on #95
Yes, I added that a few pull requests back to change the fonts and style the page headers.  I suspect the errors you get have to do with the fonts not being installed on your computer.  Perhaps comment out the first block of code and see if that fixes things.  Or comment out the entire file.

[2017-08-15 22:41] oscarlevin opened #96 "Figure 1.2.3 needs part e?"
There is a comment in the ptx that part e of the figure is missing.

[2017-08-16 15:01] oscarlevin opened #98 "xref appendix subsection"
In problem 7, there is a xref to appendix A.1.3 (a subsection, but with Section as the type, which I think is fine).  For some reason, there is no number on it though.  The same issue occurs in Chapter 6, solution to Problem 251.  I do not know what is wrong here; the link goes to the right place.  The LaTeX does not include the \ref, just the hyperlink.  For example, the Prob 251 looks like this:

[2017-08-16 15:34] #92 closed, assigned to nobody

[2017-08-16 15:49] oscarlevin opened #99 "Minor annoyance regarding parts references"
This isn't a big deal, but might be nice to fix, either ourselves or to bug Rob on the ptx forums: right now, we you reference a part locally, say with `<xref ref="thepart" text="type-local" /> you get "Part a" (assuming "thepart" is really the first part of the problem).  I would prefer this be printed as "Part (a)".

Is this worth worrying about now?

[2017-08-16 15:54] mitchkeller commented on #89
I think the PDF looks really nice with these now. PDFKit PDF viewers (which is what most Mac users will use, since you have to forcibly make a decision to set Adobe's product to default) show a cursor that suggests the type indicators are links, but the links don't go anywhere. Also, no tool tips. That's an Apple thing, and so not worth fighting with, just documenting it.

Perhaps we should produc

[2017-08-16 16:41] mitchkeller commented on #99
I'd say file an issue for Rob on it but declare it not urgent. I agree that it would be nice to fix, but it's not a deal breaker to me. To me, it's similar to the idea that if I reference a task outside of its containing activity, I would prefer to get "part (c) of Problem 183" than "part 183.c" or "Problem 183.c" I'd like to be able to get that long phrase version without having to manually const

[2017-08-16 16:44] mitchkeller commented on #95
Can you put the errors you're getting here on the issue, Kent? I just pulled and the LaTeX compiled without errors for me.

[2017-08-16 17:01] mitchkeller commented on #79
Right now, we have some validation issues that the only way to get around will be to produce a slightly unfaithful copy of Bogart's work. Namely, there's a footnote containing an index entry in 1.3 and a footnote containing two me's in appendix C.2. I had re-coded the footnote in C.2 as an aside, but that got overwritten by Oscar's work on Appendix C. The footnote in 1.3 really should be tagged as

[2017-08-16 18:49] #96 closed, assigned to nobody

[2017-08-16 19:06] mitchkeller commented on #79
The only validation errors we should have at this time:

s1-3-apps.mbx:255:426: error: element "idx" not allowed here;
app3-2-expogenfns.mbx:89:17: error: element "me" not allowed here;
app3-2-expogenfns.mbx:94:13: error: element "me" not allowed here;

See the PTX lists (or ask me) for help getting the validator running. I pipe the output through grep by doing something like:

`ptx-check index.mb

[2017-08-16 20:32] kentemorrison commented on #95
Some font warnings but the LaTeX errors are almost solely "Command \nobreakspace unavailable in encoding T1."  Definitely font problems. Below is a little of the console output.

LaTeX Font Warning: Font shape `EU1/zpltlf/m/n' undefined
(Font)              using `EU1/lmr/m/n' instead on input line 371.

(/usr/local/texlive/2015/texmf-dist/tex/latex/amsfonts/umsa.fd)
(/usr/local/texlive/2015/texmf-

[2017-08-16 22:51] kentemorrison commented on #95
I did some sleuthing and found an explanation about \nobreakspace, which recommended adding this line, which I added to my latex-preamble-styles:

\DeclareTextCommand{\nobreakspace}{T1}{\leavevmode\nobreak\ }

The tilde character is the non-breaking space, and the ptx has lots of them.

[2017-08-17 15:08] oscarlevin commented on #98
Fixed.  This might have created numbering on subsubsections, if there are any.

[2017-08-17 15:08] #98 closed, assigned to nobody

[2017-08-17 15:28] oscarlevin commented on #87
I'll work some on this, starting from the back of the alphabet, to meet @kentemorrison somewhere in the middle.

[2017-08-17 15:29] oscarlevin commented on #91
I will start teaching out of Bogart on Monday.  My plan is to fork another copy that will be relatively stable throughout the semester.  As I find issues, I'll send updates.  But before Monday, is there something urgent that needs to be done?

[2017-08-17 15:31] oscarlevin commented on #88
This sounds good to me.  I'll use the book in my graduate class starting Monday, and will make a version as you suggest.

Incidentally, I don't quite agree with your assessment of the industriousness needed by students to find solutions.  A few semester's back, I found students were able to google the statement of a problem in my book and find the github repo with solution right next to it.

[2017-08-17 16:04] mitchkeller commented on #95
I see you're on TeXLive 2015. Can you try upgrading to 2017? I found some font issues that I was having with 2015 were resolved when I upgraded to 2017 recently when helping Alex and Matt with some formatting for Active Calculus. We definitely want to get to a point where this can build without too many weird hacks going on.

[2017-08-17 16:29] mitchkeller commented on #88
Me, overly idealistic and naïve? Never!

At least with this project, the solutions were put out there by someone else years ago, so we don't need to engage in handwringing about it, but we can do our part to make students be industrious in order to get ahold of the solutions.

I still haven't put my book's solutions in my repo. Alex and I were chatting in Tacoma about some script-fu that would aut

[2017-08-17 16:31] mitchkeller commented on #91
I think we've taken care of the biggies.

Take lots of notes as you go along. I've got a bunch in my hard copy of chapters 1–5, and once we have the "faithful Bogart" released and locked, we can take a look at some of the places where things could use some minor revisions.

[2017-08-17 16:35] oscarlevin commented on #95
I think that must be the issue.  I've noticed that when I try to run xelatex using Ubuntu's texlive distribution I get loads of errors, but none when I use the most recent TeXLive distribution installed on windows or linux.

This probably means we should abandon the latex-preamble-styles file for the official release, and then we can always use it when building a copy for print or pdf.

[2017-08-17 16:42] kentemorrison commented on #87
Today I'm setting up my new Mac laptop, replacing my 7 year old one. I'm hoping to do all the file transfer from my backup disk, so that I can keep working on the index from my old computer. We'll see...

[2017-08-17 18:17] kentemorrison commented on #87
@oscarlevin   I've finished H-O in the index but haven't pushed it. Where are you?

[2017-08-17 21:21] oscarlevin commented on #87
@kentemorrison I'm just starting on Z.  I got pulled in to start of semester stuff this morning :(

[2017-08-17 21:59] kentemorrison commented on #87
I will keep going, then, starting on P.

[2017-08-17 22:00] oscarlevin commented on #87
I'm in the middle of S now.  First person to get to R wins!

[2017-08-17 22:10] oscarlevin commented on #87
I'm working on R.

[2017-08-17 22:17] oscarlevin commented on #87
Done with Q.  I'll push momentarily.

[2017-08-17 22:36] kentemorrison commented on #87
Wow! You're fast. You win! I will push with edits through P.

[2017-08-17 22:37] oscarlevin commented on #87
There wasn't much to change.

[2017-08-17 22:46] #87 closed, assigned to nobody

[2017-08-17 22:49] oscarlevin commented on #95
In my ubuntu setup (windows subsystem linux) I still can't compile.  I get warnings about spanish.  Is there any reason PTX set \setotherlanguage{spanish} and \setotherlanguage{vietnamese}?

I don't mind having to compile with the newest texlive, but for general distribution, we should make this thing compile nicely.

[2017-08-18 15:16] oscarlevin commented on #99
Issue filed with Rob, which will get this fixed eventually.

[2017-08-18 15:16] #99 closed, assigned to nobody

[2017-08-18 15:40] oscarlevin opened #108 "Distribution plans"
I thought it might be worth discussing what our plans for distribution are at this point.  The document is in pretty good shape, and with the semester starting soon, it would be nice to get the book out there.  For my students, I plan to compile a pdf without solutions, hints in the back, and post it on my LMS.  I will also publish a html version through my website, but not advertised widely (mayb

[2017-08-18 16:18] mitchkeller commented on #95
The language thing has been a problem for a while. I usually get a gripe about Vietnamese, but it just flies by without any impact. That's going to be a question for Rob, I'm afraid.

[2017-08-18 16:28] kentemorrison opened #109 "Some minor issues with index entries"
The latex/pdf version seems to be in good enough shape to use in your classes, so I'm not sure that we should worry now about these little things (and any others). I noticed these since the last pull requests that I thought wrapped up the index editing.

1) Accented characters throw off the alphabetization in the index. There is ménage and Pólya. The first I changed to menage but the second I didn

[2017-08-18 16:29] mitchkeller commented on #108
Yeah, we'll need to set something up either through GitHub.io or on one of our websites to distribute this. And let Dartmouth know we've done it so they can link to it (or not, at their option) once it's officially public and ready for use. I think a CreateSpace edition would be nice, and also easy since you and I both have experience with it. We could use royalties to pay for a domain name to hos

[2017-08-18 16:31] oscarlevin commented on #109
2 should be fixed.  I updated that in my index fix (and added the text about domain and range).  Did you pull the latest update-bogart from upstream?

[2017-08-18 16:35] oscarlevin commented on #108
I've secured "openmathbooks.org", which I plan to host my discrete book on, as well as anyone else's who doesn't want to buy a domain name.  I've forked my copy of ibl-combinatorics to github.com/OpenMathBooks, and will put the html version there for now, and eventually redirect bogart.openmathbooks.org to it.

Unless you think this is a poor idea.

[2017-08-18 16:52] kentemorrison commented on #109
Thought I had but evidently not. Now I have pulled the latest and see the fix.

Now a further issue. This definition of range is not the image of the function but rather what is often called the target or codomain. However, changing from range to codomain, say, would require changing other parts of the text. I recommend leaving it alone but being aware of the possibility of confusion with the usag

[2017-08-18 21:54] oscarlevin commented on #109
Yeah, I had to grit my teeth when writing that sentence.  In the effort to create a unabridged copy of the text, I thought I would leave it for now, but we should remember to update it when an updated edition is considered.

[2017-08-19 17:54] mitchkeller commented on #109
I'm always careful to warn my intro to proofs students that what the text I use calls range and codomain other books might call image and range. It's annoying that we can't agree 100% as a community on this. I'm inclined to support making an edit on that once we declare "Here's the faithful Bogart." and can think about tweaking it.

[2017-08-19 17:59] mitchkeller commented on #108
Sounds like a good idea to me.

[2017-12-06 17:30] oscarlevin opened #114 "Print edition for JMM"
Before the end of the year, I would like to finalize a print edition of the text, partially so that we can give away a few at JMM through AIM's booth and perhaps Mitch's talk.  So what do we still need to do here?

1. We need to pick a size.  This strikes me as more of a workbook, so larger dimensions seem appropriate.  Any thoughts?
2. We need a new prefix.  That is, preface.
3. We need a cover.

[2017-12-07 17:26] mitchkeller commented on #114
You seem to have read my mind, as I sent @kentemorrison an email about books for the AIM booth mentioning some of this yesterday not long before you made this issue.

1. I like the idea of a bigger size. My book is 7.44" x 9.69", and I've got all the geometry stuff worked out for that size if we're interested in trying to just run with that (but keeping the various header and layout features alrea

[2017-12-08 17:15] mitchkeller commented on #114
#116 helps out with 2 and 4 and does something with 5.

As far as 1 goes, I see the current PDF is 8.5 by 11. I don't have terribly strong objections to sticking with that if we want to. I may do some work to try making a few PDFs with different page sizes for us to look at, although it's really  hard to decide how something is going to look in print based purely on comparing the PDF pages on scre

[2017-12-08 17:52] oscarlevin commented on #114
For 1, I think trying a 8x10 would be a reasonable first guess.  I agree, that a 8.5x11 looks a little "cheap".  I can work on this today, unless you have a strong desire to do so.

I agree with your comments about the GFDL.  I'll try to compile your most recent version to see how that looks.

For 6, I agree, this would be really nice.  I don't think it would be that difficult, although I will nee

[2017-12-08 18:17] mitchkeller commented on #114
Go ahead and work on the layout if you’ve got time and are in the mood. I’ve got a few things going on this afternoon on short notice, but think I can do something about a cover at least.

Will think about the hint markers and comment more later.

[2017-12-08 20:09] kentemorrison commented on #114
I definitely do not like 8 1/2 by 11. I would go with the size of Mitch's book or with 8 by 10.

[2017-12-08 22:01] mitchkeller commented on #114
A couple of things I'm noticing now with the boxes in place:

* If a problem has more than one type or has the especially interesting \Rightarrow, then the type indicator sticks out to the left of the box. Initially I tried just changing the -1em to -0.75 em for shifting the margin symbol closer, which solved the problem for just especially interesting. Then I found things with more than one type.

[2017-12-08 22:11] oscarlevin commented on #114
The intended look of the boxes is to have no border on the top or left, a border on the right and bottom, and the shadow on the bottom.  Most of the time when printed this is what shows up, but sometimes there is a very light border on the top or left, and often in a pdf reader these show up.  And that looks bad when you have the problem type markers, as you say.  The other issue is that sometimes

[2017-12-08 23:09] kentemorrison commented on #114
My mind is not so closed on the page size. I looked at an 8 1/2 by 11 book on the AIM list (How We Got From There to Here: A Story of Real Analysis). It has 205 pages, which is about 20 more than Bogart in this size. It would be okay since it would have the workbook feel. In the 8 by 10 size it would be about 210 pages. Still not fat, but the GFDL takes up 10 pages.

What about not printing the GF

[2017-12-12 05:20] oscarlevin commented on #114
For dimensions, right now I set up 7x10, but I would be happy to go to 8x10, leaving the text width the same, just increasing the outer margin for notes.  I don't think it make much of a difference cost wise to save 20 pages (last I checked, we could sell this thing for around $7 no matter what).

As for the license, I suppose we (and I really mean @mitchkeller) could try to contact the Bogart fam

[2017-12-12 17:58] mitchkeller commented on #114
Yeah, I think that it will be plenty cheap regardless of size/page count. 7x10 seems reasonable to me.

As best as I can tell, there is an obligation to include the license. (In fact, https://wiki.creativecommons.org/wiki/GFDL_versus_CC-by-sa makes the point that for short works, the GFDL may be longer than the work itself, which can be annoying.) However, one idea I had (but didn't get a chance t

[2017-12-12 19:20] mitchkeller commented on #114
Here's a proposed cover. I have very few graphic design skills, but I did use a color scheme generator online to try to come up with some colors that went together well. Feel free to tell me you hate it or suggest some ways to improve it.

If we wanted to take a tiny bit of Bogart's preface and put it on the back, that might not be a bad idea as a way to give browsers at something like JMM some in

[2017-12-12 19:33] oscarlevin commented on #114
I like the cover.  Maybe move the title a little down (vertically centered in the orange)?  I like the idea of a blurb on the back.

[2017-12-12 19:53] mitchkeller commented on #114
Here's a version that moves the title down. I didn't worry about precisely centering it, since trim irregularities can complicate that, but I think it's "morally centered" at least. I think I like this version better than my first one.
[ctgd_220_cover.pdf](https://github.com/OpenDiscreteMath/ibl-combinatorics/files/1553067/ctgd_220_cover.pdf)

[2017-12-12 20:03] kentemorrison commented on #114
I like the cover and color scheme. The title moved down is better. Could you do a version using the same font as the cover of "Applied Combinatorics"? I think that typeface is quite pleasing.

I agree that now is not the time to worry about the license.

[2017-12-12 20:10] mitchkeller commented on #114
Here's a version with the font used for the cover on Applied Combinatorics.

[7x10_BW_220_bangla.pdf](https://github.com/OpenDiscreteMath/ibl-combinatorics/files/1553137/7x10_BW_220_bangla.pdf)

[2017-12-12 22:23] oscarlevin commented on #114
I prefer the original font (especially the italic author name) and the lowered title.  The new font is okay, but maybe make it smaller if you want to go with that?

I assume the blue spine wraps around tot he front and back cover, so that the front cover would have a blue vertical rectangle on the left hand side, right?

Maybe push the author name up and left a bit, in case of variations in trim (

[2017-12-12 22:46] kentemorrison commented on #114
Yes, I think the original serif font with italic author name does look better. (Mitch, Thanks for the extra work that turned out not to be necessary.)

[2017-12-12 23:04] mitchkeller commented on #114
OK, good, we're unanimous on font then. I'm not an Illustrator power user, but I adept enough at it (and keeping old versions of files around) that it wasn't a big deal to change.

Here's a screenshot with the guides I used in Illustrator. The cyan lines are where the CreateSpace template puts the red "don't put things you don't want to risk getting trimmed in this region", not the idealized trim

[2017-12-12 23:07] oscarlevin commented on #114
Awesome.  Thanks for all your work on this.

[2017-12-12 23:13] kentemorrison commented on #114
Beautiful!

[2017-12-12 23:17] mitchkeller commented on #114
Great. Sorry that the screenshot goes to the version with the alternate font. The version we'll use will have the serif font I proposed originally, as that's my main file now. Spacing from guides is the same in either case.

I like the new boxes, and I think the hint indicator is in as good of a place as it can be put. right now, if a problem has both a hint and an additional hint, we're getting t

[2017-12-13 15:04] mitchkeller commented on #114
Realized that Oscar had already nicely set up bogart.openmathbooks.org to host all this, so I've dealt with URL issues both in the colophon and the preface.

It looks like that resolves the last of our issues before we can start the POD process. I guess Oscar and I need to decide which of us is setting up the book on CreateSpace or if we want to create a completely separate account to do so. I'm g

[2017-12-13 15:06] mitchkeller commented on #108
I'm going to close this, since I think we've resolved everything on here. Reopen if you see something that we need to keep discussing here (instead of on #114).

[2017-12-13 15:06] #108 closed, assigned to nobody

[2017-12-13 15:28] mitchkeller commented on #90
When I'm able to push the cover, I think we will be able to close this one.

[2017-12-13 15:30] mitchkeller commented on #89
I'm leaving this open, since once we've released the "faithful Bogart" POD, I want to revisit the matter of using meaningful symbols (letters?) for problem types.

[2017-12-13 15:32] mitchkeller commented on #88
Now that we've got hint markers in the body, I'm going to call this one done. As I wrote on #114, the hyperlinks from problems to their hints aren't crucial, since people are unlikely to be using the PDF in that way (versus using HTML).

[2017-12-13 15:32] #88 closed, assigned to nobody

[2017-12-13 15:34] mitchkeller commented on #109
I'm thinking that the issue about accented characters and index alphabetization should be considered an upstream issue with PreTeXt and punted up for Rob to resolve. We can do a quick hand edit on the PDF before we send it to CreateSpace for this go around, but then this could be closed and punted. Anyone care to disagree?

[2017-12-13 15:36] mitchkeller opened #121 "custom-html.xsl"
The custom-html.xsl here does not produce the same HTML that @oscarlevin  has posted. It looks like theres a separate repo used to host the book at the moment, and it has a different custom-html.xsl (produces problem type markers, suppresses solutions to exercises/supplementary chapter problems).  I'm going to let @oscarlevin make the PR to move that file in, since he knows better than I do what's

[2017-12-13 16:23] oscarlevin commented on #109
Sounds good to me.

[2017-12-13 16:27] mitchkeller commented on #95
Closing this since none of us seem to have had problems with this recently.

[2017-12-13 16:27] #95 closed, assigned to nobody

[2017-12-13 16:39] #121 closed, assigned to nobody

[2017-12-13 16:52] oscarlevin commented on #121
I'll make a new version of the html tonight when I'm on my linux machine (with mbx tools).  The way I'm managing this is to work on the openmathbooks/bogart fork, update it from my fork of ibl-combinatorics, build the html there, then push the html to github.  Does this sound reasonable?  That way we don't have html in the root repository.

[2017-12-13 16:54] mitchkeller commented on #121
That sounds eminently reasonable.

[2017-12-13 16:56] oscarlevin commented on #114
I'm happy to act as "publisher" and incur the initial costs of printing a few copies for JMM.  But if you, Mitch, would rather be in charge of this, that is fine too.  In some ways it makes sense for me to do it because I'm also hosting the html version (although we are talking $15 a year for the domain, and that's split with my own book).

[2017-12-13 16:59] mitchkeller commented on #114
My preference was going to be for you to serve as the "publisher" for the reason you specified, so I say go for it.

The overfull hbox situation is really good. (Only two to fix.), so after I go to the gym, I should be able to send a commit that has a cover and everything ready for you to start battling with CreateSpace. I'm assuming that you've already made sure that the margins we're using are O

[2017-12-13 17:01] oscarlevin commented on #114
Sounds like a plan.  I assume the margins should be fine, given they are bigger than those I used on my book, which generally worked okay.

If you or @kentemorrison would like a print copy before JMM, I can ship them directly to you.  Or let me know how many you would like me to bring (beyond the display ones) and I can do so.

[2017-12-13 19:07] kentemorrison commented on #114
Oscar and Mitch,

I’m busy today and so I’ve just seen the recent comments on publishing. Let me take care of the cost of books for JMM and copies for us.

Kent

[2017-12-13 21:26] oscarlevin commented on #121
I've updated the html version at bogart.openmathbooks.org

[2017-12-14 18:39] mitchkeller commented on #109
I figured out how to deal with the accented characters by lightly modifying the LaTeX. I'll file an issue on PreTeXt noting what fix I used.

We should keep this issue open in part because there's the matter of "range" that we discussed in August and also in taking a peek at the index, I noticed some weird inconsistencies with the two types of partitions the book talks about in terms of indexing.

[2017-12-14 20:11] mitchkeller commented on #109
In looking at the PreTeXt schema, I think the fix we need is already built-in by using the @sortby attribute on idx. Because I don't want to make a mess out of things, I'm going to wait for #125 to get merged before I do any edits, but I think I can fix the PTX code to deal with the sorting permanently. That will still leave a number of things in my previous comment to address, however.

[2017-12-14 20:12] mitchkeller commented on #68
Closed by #122

[2017-12-14 20:12] #68 closed, assigned to nobody

[2017-12-14 20:14] mitchkeller commented on #114
I'd like one print copy, but it'd be fine if I got it at JMM, since that will save on shipping costs. I'll let the two of you work out payment and shipping arrangements.

[2017-12-14 22:08] oscarlevin commented on #114
I've submitted the book to createspace, and it should be available in 24 hours.  However, I realized after submitting it that we had discussed putting a blurb on the back cover.  How about this, which I stole from the preface and am using as the book's description:

This book is an introduction to combinatorial mathematics, also known as combinatorics. The book focuses especially but not exclusive

[2017-12-14 22:16] kentemorrison commented on #114
Sounds good to me!

[2017-12-14 22:16] oscarlevin commented on #114
One more consideration: Createspace allows for "expanded distribution" which allows the book to be sold at other book stores and to libraries, etc.  There is no cost to us for this, but it does require that the book be priced a little higher.  With expanded distribution, we would price the book at 8.99, but without it we could go down to 6.99.  Any preference?

[2017-12-14 22:29] kentemorrison commented on #114
Interesting question—not something I have run into before. The higher price might allow campus bookstores to sell it—if they’re even willing to stock a low priced book. Students pay a higher price in the bookstore but they don’t pay shipping. Even with sales tax it would be less than $10.

[2017-12-14 23:44] mitchkeller commented on #114
New cover with blurb in #126. I added a sentence saying that the book is open-source and giving the URL, but otherwise went with the suggested text. I thought about the blurb after I sent my earlier PR but while I was off doing something else. It's probably a tiny bit better this way, anyway, since now the description on Amazon and the jacket blurb will match.

I vote yes for expanded distribution

[2017-12-15 16:11] #90 closed, assigned to nobody

[2017-12-16 14:56] oscarlevin commented on #114
Print edition is now approved through CreateSpace.  It should show up on Amazon in a few days.

[2017-12-16 14:56] #114 closed, assigned to nobody

[2018-07-22 17:46] sphaso opened #127 "Additional hint 38: missing part of a sentence"
Hi,
I'm working through this book and noticed a bit of an oddity on the additional part of hint 38. It reads:

I guess it should be

?

Thanks for the awesome book!

[2018-07-22 21:46] #127 closed, assigned to nobody

[2018-08-08 07:55] sphaso opened #129 "Problem 123: hint repeated in main text"
Hi,
in problem 123 the hint is repeated in the main text verbatim. I'm assuming this was not intentional.

[2018-08-09 18:44] mitchkeller opened #130 "Add Google analytics"
Would be good to have Google analytics tracking enabled for CTGD.

[2018-08-09 18:47] mitchkeller opened #131 "Contact Dartmouth"
Someone needs to contact Dartmouth to tell them about this and ask them to link to it.

[2018-08-09 18:48] mitchkeller opened #132 "Instructor version with solutions"
Make a PDF instructor version available by request and also make sure that all problems (tasks!) have solutions.

[2018-08-09 18:53] mitchkeller opened #133 "Update website to ask for adoption emails"
Need to decide whom they should email and then put up something on the website so that people can let us know.

Then put up a list of adoptions on the website.

[2018-08-09 19:18] mitchkeller commented on #131
If Dartmouth no longer wants to keep files up on their site, we'll have to discuss what we want to keep up and such.

[2018-08-09 19:24] mitchkeller opened #134 "Promote CTGD through Math Learning through Inquiry and AIBL"
Since this is an IBL text, we should use Math Learning through Inquiry and the Academy for Inquiry-Based Learning as avenues to promote. I've got plenty of connections in that community, so can be the point person on that.

Can we have MLI display a print copy or put a QR code on a handout for JMM?

[2018-08-09 19:28] mitchkeller commented on #134
Ask Dana Ernst to update his list of open (IBL) texts.

[2018-08-10 10:02] sphaso opened #136 "Chapter 4: a few typos"
Hi!

**Problem 210c** states:
`How are \(\qchoose{m+n}{n}\) and \(\qchoose{m+n}{n}\) related?`
I believe you meant
`How are \(\qchoose{m+n}{n}\) and \(\qchoose{m+n}{m}\) related?`

**Problem 211a** states:

I believe an `a_i` got left out on the RHS:

` \sum_{i=1}^\infty a_ix^i = (\sum_{i=0}^\infty a_ix^i) -a_0`

In the next equation, I think the second equality should have an a_{i-1} instead of a

[2018-08-12 16:42] oscarlevin commented on #136
Thanks.  Will be fixed in imminent pull request.

[2018-08-12 18:07] oscarlevin opened #138 "Figure 6.3.1 missing images"
These are produced using the \chemfig command.  For some reason, the mbx script is not processing these (perhaps because it can't?).

[2018-08-12 18:16] sphaso opened #139 "Chapter 5: wording, typos"
Hi,

**Problem 225** has a strange wording:

**Problem 230** too (or it might be that I'm not a native speaker and it sounds off to me):

**Problem 234** typo:

(really enjoying chapter 6 right now!)

[2018-08-12 18:32] oscarlevin commented on #139
I'm not seeing the wording as all that strange, although eventually both could be tightened up.  I've fixed the typo and included it in my pull request.

[2018-08-12 20:27] oscarlevin commented on #133
I've given a link to email me.  The organization of the page could be improved, so feel free to make suggestions.

[2018-08-12 20:27] #133 closed, assigned to nobody

[2018-08-12 20:28] oscarlevin commented on #130
I've added this.  I'd be happy to add either of you as a user if you are curious.

[2018-08-12 20:28] #130 closed, assigned to nobody

[2018-08-12 23:24] mitchkeller commented on #138
It's working for me. Can you use `-vv` and let me know what sort of errors you're getting?

[2018-08-12 23:29] #129 closed, assigned to oscarlevin

[2018-08-12 23:30] mitchkeller commented on #136
Closed by #137

[2018-08-12 23:30] #136 closed, assigned to oscarlevin

[2018-08-12 23:33] oscarlevin commented on #138
Very strange.  I'm producing the image as it turns out, it is linked correctly in the html, but it is not showing up.  I'll investigate more later.

[2018-08-12 23:36] mitchkeller commented on #138
You’ve probably checked this already, but make sure the directory you’re having the script write to is the one that the HTML is looking for the images in. I’ve been burned by that issue a few times before.

—
Mitch Keller
mitch@rellek.net

[2018-08-12 23:37] mitchkeller commented on #139
I agree the wording is awkward although probably technically correct. 225 doesn't bother me too much, but 230 grates at my ear pretty badly.

What about:

**Problem 230**

If we wanted to make a quick edit to **Problem 225** right now, I would think that

eliminates the awkwardness.

[2018-08-13 06:36] sphaso commented on #139
I see why I thought wording of 225 was weird, I was breaking up the sentence at "In a biology lab, study" instead of going all the way. Sorry about that.

[2018-08-13 15:09] oscarlevin commented on #138
Fixed!  I had at some point set the "directory.images" string param to "../images" instead of "images", which apparently only affects images inside side-by-sides inside figures.

[2018-08-13 15:09] #138 closed, assigned to oscarlevin

[2020-08-09 15:19] kentemorrison commented on #131
I contacted Dartmouth (in Sept. 2018). They updated their web pages with info about our version. They also maintain the final version of Bogart's and an archive of all the material he left. See
  https://math.dartmouth.edu/news-resources/electronic/kpbogart/

[2020-08-09 15:19] #131 closed, assigned to kentemorrison

[2020-08-19 17:28] kentemorrison opened #140 "Four typos"
One of these appears in the html but not the pdf. One is the opposite. Two appear in both versions.

Below Problem 123 (html):  change  "k\/th"  to   "kth"

Problem 233 (pdf & html):  capitalize "so" in last line

Problem 234 (pdf):   change  "generall"  to  "generally"

Theorem 3.1.5 (pdf & html):  change  (n+i-1)!/(n-1)!   to  (n+k-1)!/(n-1)!

[2022-07-12 16:33] oscarlevin opened #142 "Solution to Problem 141"
More feedback :)

The solution to Problem 141 of ctgd appears to have a minor typo:

![image](https://user-images.githubusercontent.com/6504596/178545678-951583a2-e020-44bc-8285-3dbd31095836.png)

Rather,

   L(k, n) = L(k-1, n-1) + (n+k-1)L(k-1,n)

The other problem of this solution is that it's incomplete without defining the boundary conditions.

Regards,
Hanson

[2022-07-12 16:34] oscarlevin opened #143 "Solution to Problem 146"
![image](https://user-images.githubusercontent.com/6504596/178545822-b8c2f633-be2a-45f8-8a4c-b755edd10d8e.png)
Seems there is a typo in the final solution.  S(9,3) * 3! = 3025 * 6 = 18150, not 55980 as claimed.

Regards,
Hanson

[2022-07-12 16:35] oscarlevin opened #144 "Typo in Problem 152a"
![image](https://user-images.githubusercontent.com/6504596/178545979-1911868b-4401-454f-97a0-ad35ee8b51b8.png)

There is a typo in the question of Problem 152 that is rather confusing.  Instead of

“Find a way to express n^k in terms of falling_power(k,j) for appropriate values j”

It should be

“Find a way to express n^k in terms of falling_power(n,j) for appropriate values j”

Regards,
Hanson

[2022-07-12 16:35] oscarlevin opened #145 "Solution to Problem 154"
![image](https://user-images.githubusercontent.com/6504596/178546057-51b23def-4c28-44dd-aa17-f74612bedc85.png)

This solution is incomplete without defining the boundary conditions.

Regards,
Hanson

[2022-07-12 17:41] oscarlevin opened #146 "Incorporate suggestions from the file Bogart-typos-clarifications.pdf"

[2022-07-13 03:34] izhang05 opened #147 "Solution to Problem 17"
I think the answer to problem 17 should be n^k (the number of functions from a set of k elements to n elements), rather than the answer of k^n given in the solutions.

[2022-07-15 19:07] oscarlevin opened #148 "167"
![image](https://user-images.githubusercontent.com/6504596/179294305-0417596d-648b-49c3-8391-56ffe8e26ad9.png)

The last part should be “(or 3k + 4 into four parts of size at most k).”, not 3k - 4.

Interestingly the solution pdf is free of this typo

[2022-07-29 22:37] oscarlevin opened #149 "169"
![image](https://user-images.githubusercontent.com/6504596/181854171-76be2ebd-b9f2-44b7-bc19-ac10629a01f2.png)
I believe the exponent of the second last term should be n_2:
![image](https://user-images.githubusercontent.com/6504596/181854205-919ec679-f277-4ccf-bddd-60ac6e721fce.png)

Reported by Hanson Char